.portfolio {
  padding-top: 40px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.item {
  border: 1px solid #eee;
}

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.info {
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  color: $black;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.type {
  color: $dark-grey;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

.overlay {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  background-color: rgba(33, 150, 243, 0.8);
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  position: absolute;
  top: 100%;
  left: 0;
  transition: 300ms;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.54px;
}

.item:hover,
.item:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  .overlay {
    @media screen and (min-width: 1200px) {
      top: 0;
    }
  }
}
