.burger {
  background-color: transparent;
  border: none;

  @media screen and (min-width: 769px) {
    display: none;
  }
}

// .icon {
//   fill: red;
// }

// .icon:hover {
//   fill: yellowgreen;
// }
